<p id="notice"><%= notice %></p>

<p>
  <strong>Run:</strong>
  <%= @registration.run_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @registration.user_id %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @registration.confirmed %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
