<p id="notice"><%= notice %></p>

<h1>Runs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Starting at</th>
      <th>Registration limit</th>
      <th>Registrations booked</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.starting_at %></td>
        <td><%= run.registration_limit %></td>
        <td><%= run.registrations_booked %></td>
        <td>
          <%= link_to 'Register', 'registrations/register/' + String(run.id), method: :post, class: 'btn btn-primary' %>
          <%= link_to 'Unregister', 'registrations/unregister/' + String(run.id),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
